.fs-0{ font-size:1.000em; }
.fs-1{ font-size:1.125em; }
.fs-2{ font-size:1.266em; }
.fs-3{ font-size:1.424em; }
.fs-4{ font-size:1.602em; }
.fs-5{ font-size:1.802em; }
.fs-6{ font-size:2.027em; }
.fs-7{ font-size:2.281em; }
.fs-8{ font-size:2.566em; }
.fs-9{ font-size:2.887em; }
.fs-10{ font-size:3.247em; }
.fs-11{ font-size:3.653em; }
.fs-12{ font-size:4.110em; }
.fs-13{ font-size:4.624em; }
.fs-14{ font-size:5.202em; }
.fs-15{ font-size:5.852em; }
.fs-16{ font-size:6.583em; }
.fs-m1{ font-size:0.889em; }
.fs-m2{ font-size:0.791em; }
.fs-m3{ font-size:0.702em; }
.fs-m4{ font-size:0.624em; }
.fs-m5{ font-size:0.555em; }
.fs-m6{ font-size:0.493em; }
.bigger{ font-size:1.7em; }
.smaller{ font-size:0.8em; }
.font-thin{ font-weight:200; }
.font-light{ font-weight:300; }
.font-regular{ font-weight:500; }
.font-bold{ font-weight:700; }
.font-semibold{ font-weight:600; }
.font-extrabold{ font-weight:800; }
.font-italic{ font-style:italic; }
h1{ font-size:1em; line-height:1.25; margin:initial; }
h2{ font-size:1em; line-height:1.25; margin:initial; }
h3{ font-size:1em; line-height:1.25; margin:initial; }
h4{ font-size:1em; line-height:1.25; margin:initial; }
h5{ font-size:1em; line-height:1.25; margin:initial; }
h6{ font-size:1em; line-height:1.25; margin:initial; }
.h1{ font-size:2.250rem !important; line-height:1.25em; }
.h2{ font-size:1.500rem !important; line-height:1.25em; }
.h3{ font-size:1.125rem !important; line-height:1.25em; }
.h4{ font-size:0.875rem !important; line-height:1.25em; }
.h5{ font-size:"1em" !important; line-height:1.25em; }
.h6{ font-size:"1em" !important; line-height:1.25em; }

.lh-inherit { line-height: inherit !important; }
.lh-100{ line-height: 1 !important; }
.lh-125{ line-height: 1.25 !important; }
.lh-150{ line-height: 1.50 !important; }
.lh-175{ line-height: 1.75 !important; }
.lh-200{ line-height: 2 !important; }
